* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Open Sans", sans-serif;
}

.container {
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.slider {
 width: 55%;
 height: 60vh;
 position: relative;
}

.thumbnails {
 width: 15%;
 height: 60vh;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.item {
 height: 60vh;
 display: none;
}

.thumb {
 height: calc(60vh / 5);
 display: block;
 filter: blur(2px);
 padding: 5px;
}

.item img {
 filter: brightness(0.6);
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 30px;
}

.thumb img {
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 20px;
}

.thumbnails {
 position: relative;
 margin-left: 20px;
}

.prev,
.next {
 position: absolute;
 left: 50%;
 text-align: center;
 width: 30px;
 height: 30px;
 background-color: lightgrey;
 border-radius: 50%;
 line-height: 30px;
 cursor: pointer;
 transform: translate(-50%, 0);
}

.prev {
 top: 3%;
}

.next {
 bottom: 3%;
}

.active {
 display: block;
}

.thumb.active {
 border: 4px solid grey;
 border-radius: 25px;
 filter: blur(0);
 -webkit-filter: blur(0);
}

.testo {
 position: absolute;
 bottom: 30px;
 right: 20px;
 color: white;
 text-align: right;
 font-weight: bold;
 width: 80%;
 text-align: right;
}
